html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	height: 100%;
}

body {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
	background: #181818;
	color: #e4e4ef;
}

.tsoding-box {
	display: table-cell;
	vertical-align: middle;
}

.tsoding-box h1 {
	font-family: 'Cantarell', sans-serif;
	font-size: 80px;
	margin-bottom: 5px;
}

.tsoding-box h2 {
	font-family: 'Cantarell', sans-serif;
	font-size: 30px;
	margin-bottom: 10px;
}

a {
	font-kerning: normal;
	font-family: 'Cantarell', sans-serif;
	font-size: 25px;
	color: #73c936;
	text-decoration: none;
}

.tsoding-links {
	margin-right: 25px;
	margin-bottom: 30px;
}

.tsoding-icon-link-first {
	margin-left: 10px;
}

.tsoding-icon-link {
	width: 32px;
	margin-right: 10px;
}

.tsoding-text-link-first {
	margin-left: 20px;
}

.tsoding-text-link {
	margin-right: 20px;
	font-size: 25px;
}
